.card{
    border-radius: 30px 30px 10px 10px !important;
    overflow: hidden;
    transition: all 0.3s;
    position: relative;
}
.card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1.02);
}
.card-text{
    text-align: justify;
}
.card-img-top{
    border-radius: 30px;
}
.students{
    position: absolute;
    background-color: #C9D6DF;
    left: 0;
    top: 20px;
    padding: 0 10px;
    border-radius: 0 10px 10px 0;
    width: 70px;
}